*{
  background-color: black;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input {
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 8px;
  width: 250px;
}

button {
  padding: 10px 20px;
  background-color: #ffee12;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #fde100;
}
